@import 'tailwindcss';

@theme {
  --color-electricBlue: #3F8CFF;
  --color-oceanBlue: rgba(63, 140, 255, 0.1);
  --color-violetGlow: #B89CFF;
  --color-midnightSteel: #1A1D26;
  --color-matteInk: #0C0F14;
  --color-plasmaGrey: #7C8BA1;
  --color-snowAsh: #F2F4F8;

  --breakpoint-xs: 25rem;

  --animate-slow-bounce: slow-bounce 2s ease-in-out infinite;

  @keyframes slow-bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1)
    }
  }
}

@keyframes Shine {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

* {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 0rem;
  }

  scroll-behavior: smooth;
}

@media (prefers-reduced-animations) {
  * {
    scroll-behavior: auto;
  }
}

html, body {
  background: var(--color-midnightSteel);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


/* -- FONTS -- */

@font-face {
  font-family: 'Nuku Nuku';
  src: url('/src/assets/fonts/NukuNuku.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/OpenSans.ttf') format('ttf');
}

.font-nukunuku {
  font-family: 'Nuku Nuku';
}

.font-open-sans {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nuku Nuku';
  letter-spacing: 0.1rem;
}

p {
  font-family: 'Open Sans';
}

a {
  outline: none;
}

/* -- LINKS -- */

.primary-link {
  color:white;
}
.primary-link:hover,
.primary-link:focus,
.primary-link:active {
  color: var(--color-electricBlue);
}

.secondary-link {
  color: var(--color-midGrey);
}
.secondary-link:hover {
  color: white;
}
.secondary-link:focus {
  color: white;
}

.secondary-link {
  color: var(--color-plasmaGrey);
  font-family: 'Open Sans';
  font-size: small;
}
.secondary-link:hover,
.secondary-link:focus,
.secondary-link:active {
  color: white;
  text-decoration: underline;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: all 0.2s;
}
.icon-link:hover,
.icon-link:focus,
.icon-link:active {
  background: var(--color-oceanBlue);
  scale: 1.05;
}


/* CTA BUTTONS */

.primary-cta {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-image: linear-gradient(to right, var(--color-electricBlue), var(--color-violetGlow));
  font-size: large;
  overflow: hidden;
  animation: Shine 10s ease infinite;
  transition: 0.3s;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:hover,
  &:focus,
  &:active {
    scale: 1.1;

    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: 1s;
    }
  }
}

.secondary-cta {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--color-violetGlow);
  border-radius: 6px;
  background: var(--color-midnightSteel);
  font-size: large;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  &:hover,
  &:focus,
  &:active {
    border: solid 2px var(--color-electricBlue);
    color: var(--color-electricBlue);
    scale: 1.1;
  }

  & svg {
    transition: all 0.3s;
  }
  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: var(--color-electricBlue);
  }
}


/* -- TECHNOLOGIES -- */

.tech-logo {
  max-width: none !important; /*stops gradient border being 'cut off'*/
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.2rem;
  background: var(--color-midnightSteel);
}


.tech-logo-mobile {
  margin: 0.5rem;
}

.gradient-border {
  border-radius: 1rem;
  margin: 2rem;
  background-image: linear-gradient(-45deg, var(--color-electricBlue), var(--color-violetGlow));
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

@media (min-width: 640px) {
  .gradient-border {
    margin: 0.25rem;
  }
}
@media (min-width: 768px) {
  .gradient-border {
    margin: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .gradient-border {
    margin: 1rem;
  }
}
@media (min-width: 1280px) {
  .gradient-border {
    margin: 2rem;
  }
}

.gradient-border:hover {
  transform: rotate(-10deg);
}

.tech-tooltip {
  width: 10rem;
  position: absolute;
  top: -3.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background: var(--color-oceanBlue);
  font-size: smaller;
  visibility: hidden;
  z-index: 999 !important;
}

.gradient-border:hover .tech-tooltip,
.gradient-border:active .tech-tooltip {
  visibility: visible;
  rotate: 10deg;
}

/* GRADIENT UNDERLINE */

.gradient-underline {
  border-bottom: solid 0.25rem;
  border-image: linear-gradient(to right, var(--color-electricBlue), var(--color-violetGlow) 75%, transparent 25%) 1;
}


/* PROJECTS LAYOUT */

.tech-stack {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}


/* PROJECTS LAYOUT MOBILE */

.project-container-mobile {
  height: auto;
  min-width: 75%;
  max-width: 85%;
  position: relative;
  left: 50%;
  padding: 0.5rem;
  border: solid 2px var(--color-electricBlue);
  border-radius: 1rem;
  background-image: linear-gradient(to bottom, transparent, rgb(147, 147, 147, 20%));
  transform: translateX(-50%);
}

.project-container-mobile::before { /* standard backdrop blur blurs the foreground */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  z-index: -1;
}

.project-title-mobile {
  margin: 1rem 0;
  text-align: center;
  font-size: x-large;
}

.project-cover-mobile {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-top: 2rem;
}

.project-cover-overlay-mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 0.375rem;
  background-image: linear-gradient(to bottom right, var(--color-electricBlue), var(--color-darkPurple));
  opacity: 0.3;
  z-index: 1;
  transition: all 0.3s;
}

.project-description-mobile {
  padding: 1rem;
}

.tech-stack-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 1rem;
  justify-content: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.tech-stack-mobile li {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: rgba(134, 133, 255, 0.7);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .tech-stack-mobile li {
    background: var(--color-deepBlue);
    color: var(--color-violetGlow);
  }
}

/* PROJECTS LAYOUT DARK */

@media (prefers-color-scheme: dark) {
  .project-container-mobile {
    border: solid 2px var(--color-deepBlue);
    background-image: linear-gradient(to bottom, rgb(32, 34, 45, 40%), transparent);
  }
  .project-container-mobile:active {
    background: rgb(32, 34, 45, 40%);
  }

  .project-container-mobile,
  .project-description {
    color: white;
  }
}

/* -- ANIMATIONS -- */


/* -- MISC -- */

.smooth-change {
  transition: all 0.1s linear;
}
